.navbar-brand{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    
}
.pic1{
    height: 60px;
    margin-bottom: 30px;

}
.container-fluid{
    margin-bottom: -40px;
}
.nav12{
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    
}




.about_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .about_section .detail-box h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
  }
  
  .about_section .detail-box p {
    margin-top: 10px;
    text-align: justify;
  }
  
  .about_section .detail-box a {
    margin-top: 15px;
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #0355cc;
    border: 1px solid #0355cc;
    border-radius: 2px;
    color: #ffffff;
  }
  
  .about_section .detail-box a:hover {
    background-color: transparent;
    color: #0355cc;
  }
  
  .about_section .img-box img {
    width: 100%;
    border-radius: 5%;
  }
  .about_section{
    margin-top: 80px;
    margin-bottom: 80px;
  }




  /* Start footer section*/
.info_section {
  padding: 75px 0;
  background-color: #0a0f43;
  text-align: center;
  color: #fff;
}

.info_section h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.info_section .social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.info_section .social-box .box {
  background-color: #ffffff;
  padding: 5px 15px;
}

.info_section a {
  margin: 0 5px;
  color: #0355cc;
}

.info_section a i {
  font-size: 18px;
}

.info_section a:hover {
  color: #ff8a1d;
}

.info_items a {
  position: relative;
}

.info_items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 80px;
  background-color: #0355cc;
  color: #ffffff;
}

.info_items .item .img-box i {
  font-size: 24px;
}

.info_items .item p {
  margin-top: 25px;
  color: #fff;
  margin-bottom: 0;
  background-color: #0a0f43;
}

.info_items .item:hover .img-box {
  background-color: #ff8a1d;
}

.info_items {
  position: relative;
}

.info_items::before {
  content: "";
  position: absolute;
  top: 65px;
  width: 75%;
  height: 1px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* footer section*/
.footer_section {
  background-color: #0a0f43;
}

.footer_section p {
  margin: 0;
  padding: 25px 0;
  color: #ffffff;
  text-align: center;
  border-top: 0.8px solid #ffffff;
}

.footer_section a {
  color: inherit;
}

/* end footer section*/






  @media (max-width: 400px) {
    .pic9{
        height: 300px;
    }
  }