.navbar-brand{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    
}
.pic1{
    height: 60px;
    margin-bottom: 30px;

}
.container-fluid{
    margin-bottom: -40px;
}
.nav12{
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    
}




/* Start Services section*/

.service_section {
  position: relative;
  margin-top: 3%;
  margin-bottom: 5%;
}

.service_section .box {
  margin-top: 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  padding: 25px 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .box .img-box {
  width: 100px;
  height: 100px;
  background-color: #C4D7FF;
  border-radius: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service_section .box .img-box img {
  max-height: 100%;
  max-width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.service_section .box .detail-box {
  margin-top: 15px;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  font-size: 25px;
}

.service_section .box .detail-box p {
  margin: 0;
}

.service_section .box:hover {
  background-color: #ff8a1d;
  color: #ffffff;
}

.service_section .box:hover .img-box img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 45px;
  background-color: #0355cc;
  border: 1px solid #0355cc;
  border-radius: 0;
  color: #ffffff;
}

.service_section .btn-box a:hover {
  background-color: transparent;
  color: #0355cc;
}
.heading_center{
  text-align: center;
}
.con_button{
  border: none;
  display: inline-block;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  padding: 10px 55px;
  background-color: #0355cc;
  border: 1px solid #0355cc;
  border-radius: 0;
  color: #ffffff;
  margin-top: 15px;
}
@media (max-width:1399px) and (min-width:1200px){
  #service5{
    height: 407px;
  }
  #conbut5{
    margin-top: 10%;
  }
}
@media (max-width:991px) and (min-width:768px){
  #service1{
    height: 560px;
  }
  #service2{
    height: 560px;
  }
  #conbut1{
    margin-top: 32px;
  }
  #conbut2{
    margin-top: 24px;
  }
  #service5{
    height: 580px;
  }
  #conbut5{
    margin-top: 80px;
  }
  #service6{
    height: 580px;
  }
  #conbut6{
    margin-top: 20px;
  }
}
@media (max-width:767px) and (min-width:576px){
  #service1{
    height: 480px;
  }
  #conbut1{
    margin-top: 23px;
  }
  #service5{
    height: 510px;
  }
  #conbut5{
    margin-top: 60px;
  }

}


/* End Services section*/





/* Start footer section*/
.info_section {
    padding: 75px 0;
    background-color: #0a0f43;
    text-align: center;
    color: #fff;
  }
  
  .info_section h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
  }
  
  .info_section .social-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 25px;
  }
  
  .info_section .social-box .box {
    background-color: #ffffff;
    padding: 5px 15px;
  }
  
  .info_section a {
    margin: 0 5px;
    color: #0355cc;
  }
  
  .info_section a i {
    font-size: 18px;
  }
  
  .info_section a:hover {
    color: #ff8a1d;
  }
  
  .info_items a {
    position: relative;
  }
  
  .info_items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  
  .info_items .item .img-box {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 80px;
    background-color: #0355cc;
    color: #ffffff;
  }
  
  .info_items .item .img-box i {
    font-size: 24px;
  }
  
  .info_items .item p {
    margin-top: 25px;
    color: #fff;
    margin-bottom: 0;
    background-color: #0a0f43;
  }
  
  .info_items .item:hover .img-box {
    background-color: #ff8a1d;
  }
  
  .info_items {
    position: relative;
  }
  
  .info_items::before {
    content: "";
    position: absolute;
    top: 65px;
    width: 75%;
    height: 1px;
    background-color: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  /* footer section*/
  .footer_section {
    background-color: #0a0f43;
  }
  
  .footer_section p {
    margin: 0;
    padding: 25px 0;
    color: #ffffff;
    text-align: center;
    border-top: 0.8px solid #ffffff;
  }
  
  .footer_section a {
    color: inherit;
  }
  
  /* end footer section*/

